.link-social {
  figure {
    width: 3rem;
    height: 3rem;
    margin: 0;

    svg {
      display: block;
      position: relative;
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
  }
}
