.content-wp,
.wp-editor {
  font-family: $global-font-family;

  > :last-child {
    margin-bottom: 0;
  }

  .wp-block-button__link {
    @include cta-button;
  }

  h2 {
    @include text-heading-large;
  }

  h3 {
    @include text-heading-medium;
  }

  h4 {
    @include text-heading-small;
  }

  p {
    @include text-body;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0;

    & + * {
      margin-top: $global-xsmall-margin;
    }
  }

  ul {
    @include list-caret;

    // list-style: none;

    // li {
    //   display: flex;
    //   align-items: flex-start;

    //   &::before {
    //     content: '\2022';
    //     position: absolute;
    //     color: $blue-dark;
    //     font-weight: bold;
    //     display: inline-block;
    //     width: 1em;
    //     margin-left: -1em;
    //     margin-top: -2px;
    //   }
    // }
  }

  &.content-main {
    h2 {
      @include text-content-main-heading;
    }
  }

  &.text-body-small {
    p {
      @include text-body-small;
    }
  }

  .gform_wrapper {
    margin-top: $base-margin-vertical !important;
  }

  @media (min-width: $container-max-width + $container-padding-horizontal-m * 2 + $base-margin-horizontal * 2) {
    img.alignnone,
    .content-wp__video-wrapper {
      width: $container-max-width;
      max-width: none;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .content-wp__video-wrapper {
    margin-top: $margin-margin;
    margin-bottom: $margin-margin;
  }
}

.wp-editor {
  * {
    text-transform: none !important;
  }
}
