.page-header {
  position: relative;

  .breadcrumb-link {
    color: $blue-dark;

    &:hover {
      color: $blue-dark;
    }
  }

  &__no-image {
    position: relative;
    padding-top: 1px; // Make sure the margin doesn't move everything
    background-color: $gray-light;

    & + * {
      padding-top: 0;
    }
  }

  &__has-image {
    position: relative;
    overflow: hidden;
    background-blend-mode: multiply;
    min-height: 350px;
    max-height: 60vh;

    @media screen and (min-width: $breakpoint-medium) {
      max-height: 80vh;
    }

    &.has-video {
      min-height: auto;
    }

    .play-toggle {
      width: 5rem;
      height: 5rem;
      background-color: #009ca6;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        color: #fff;
      }

      img.pause {
        display: block;
      }

      img.play {
        display: none;
      }

      &.paused {
        img.pause {
          display: none;
        }

        img.play {
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-medium - 1px) {
    & + * {
      padding-top: 0;
    }
  }

  .video-header-link {
    &:hover {
      opacity: 0.8;
    }
  }

  .page-header__has-image & {
    &__image,
    &__video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &__video {
      video {
        &.mobile {
          display: block;

          @media (min-width: $breakpoint-medium) {
            display: none;
          }
        }

        &.desktop {
          display: none;

          @media (min-width: $breakpoint-medium) {
            display: block;
          }
        }
      }
    }

    @media screen and (min-width: $breakpoint-medium) {
      &__video {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
        }
      }

      &__content {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-bottom: 5rem;

        *:not(.cta-button) {
          color: $white;
        }

        .breadcrumb-link {
          color: $white;

          &::after {
            background-color: $white;
          }

          &:hover {
            color: $white;
          }
        }

        .overline-large::after,
        .overline-medium::after,
        .overline-small::after {
          background-color: $white;
        }

        > .uk-container {
          width: 100%;
        }
      }
    }
  }
}
