$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

@mixin text-upper {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@mixin text-body {
  font-size: 1.6rem;
  font-weight: $font-weight-regular;

  @media screen and (min-width: $breakpoint-large) {
    font-size: 2.2rem;
  }
}

@mixin text-body-small {
  font-weight: $font-weight-regular;
  font-size: 1.4rem;

  @media screen and (min-width: $breakpoint-large) {
    font-size: 1.6rem;
  }
}

@mixin text-body-xsmall {
  font-weight: $font-weight-regular;
  font-size: 1.2rem;

  @media screen and (min-width: $breakpoint-large) {
    font-size: 1.3rem;
  }
}

@mixin text-cta-small {
  font-weight: $font-weight-semibold;
  font-size: 1.4rem;
}

@mixin text-page-header-title {
  position: relative;
  line-height: 1;
  font-weight: $font-weight-semibold;
  text-transform: lowercase;
  font-size: 5rem;

  @media screen and (min-width: $breakpoint-small) {
    font-size: 6rem;
  }

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 7rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 9rem;
  }
}

@mixin text-page-header-subtitle {
  @include text-upper;

  line-height: 1.5;
  font-weight: $font-weight-bold;
  font-size: 2rem;

  @media screen and (min-width: $breakpoint-large) {
    font-size: 3.5rem;
  }
}

@mixin text-page-header-subtitle-small {
  @include text-upper;

  font-size: 2rem;
  line-height: 2;
  font-weight: $font-weight-bold;
}

@mixin text-heading-xlarge {
  line-height: 1.2;
  font-weight: $font-weight-semibold;
  text-transform: lowercase;
  font-size: 4rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 5.5rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 7rem;
  }
}

@mixin text-heading-large {
  line-height: 1.2;
  font-weight: $font-weight-semibold;
  text-transform: lowercase;
  font-size: 3.6rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 4.2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 5.5rem;
  }
}

@mixin text-heading-medium-large {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: $font-weight-bold;
  text-transform: lowercase;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 4rem;
  }
}

@mixin text-heading-medium {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: $font-weight-bold;
  text-transform: lowercase;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 2.8rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 3rem;
  }
}

@mixin text-heading-small {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: $font-weight-bold;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 2rem;
  }
}

@mixin text-content-main-heading {
  @include text-heading-medium-large;
}

@mixin text-label-medium {
  @include text-heading-small;
}

@mixin text-label-small {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
}

@mixin text-label-aside {
  font-size: 1.2rem;
  font-weight: $font-weight-semibold;
}

@mixin text-primary-navigation {
  @include text-upper;

  font-weight: $font-weight-bold;
  font-size: 1.5rem;
  line-height: 1.6;
}

@mixin text-secondary-navigation {
  @include text-upper;

  font-weight: $font-weight-bold;
  font-size: 1.2rem;
}

@mixin text-blockquote-bold {
  line-height: 2.25;
  font-weight: $font-weight-bold;
  font-style: italic;
}

@mixin text-blockquote-cite {
  @include text-upper;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
}

@mixin text-muted {
  font-size: 1.2rem;
}

@mixin text-form-label {
  @include text-upper;

  font-size: 1.4rem !important;
  font-weight: $font-weight-bold !important;
}

@mixin text-form-label-large {
  @include text-upper;

  font-size: 1.6rem !important;
  font-weight: $font-weight-bold !important;
}

@mixin text-form-input {
  font-size: 1.4rem !important;
}

@mixin text-form-select {
  @include text-upper;

  font-weight: $font-weight-semibold;
}

@mixin text-number-large {
  font-weight: $font-weight-extrabold;
  line-height: 1;
  font-size: 3.6rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 4.2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 5rem;
  }
}

@mixin text-date {
  @include text-upper;

  font-size: 1.4rem;
  font-weight: $font-weight-semibold;
}

@mixin text-strong-large {
  font-size: 3rem;
  font-weight: $font-weight-semibold;
}

@mixin text-card {
  font-size: 1.3rem;
}

@mixin text-card-title {
  font-weight: $font-weight-bold;
  font-size: 1.7rem;
  text-transform: none;
}

@mixin text-list-small {
  @include text-upper;

  font-size: 1.1rem;
  font-weight: $font-weight-medium;
}

@mixin text-step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
  font-weight: $font-weight-medium;
  line-height: 1;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

@mixin text-step-number-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: $font-weight-bold;
  line-height: 1;
  border-radius: 50%;
  height: 12.5rem;
  width: 12.5rem;
}

body {
  line-height: 1.5;

  &,
  .content-wp {
    .text-body {
      @include text-body;
    }

    .text-body-small {
      @include text-body-small;
    }

    .text-body-xsmall {
      @include text-body-xsmall;
    }

    .text-page-header-title {
      @include text-page-header-title;
    }

    .text-page-header-subtitle {
      @include text-page-header-subtitle;
    }

    .text-page-header-subtitle-small {
      @include text-page-header-subtitle-small;
    }

    .text-content-main-heading {
      @include text-content-main-heading;
    }

    .text-heading-xlarge {
      @include text-heading-xlarge;
    }

    .text-heading-large {
      @include text-heading-large;
    }

    .text-heading-medium-large {
      @include text-heading-medium-large;
    }

    .text-heading-medium {
      @include text-heading-medium;
    }

    .text-heading-small {
      @include text-heading-small;
    }

    .text-label-medium {
      @include text-label-medium;
    }

    .text-label-small {
      @include text-label-small;
    }

    .text-label-aside {
      @include text-label-aside;
    }

    .text-blockquote-bold {
      @include text-blockquote-bold;
    }

    .text-blockquote-cite {
      @include text-blockquote-cite;
    }

    .text-muted {
      @include text-muted;
    }

    .text-date {
      @include text-date;
    }

    .text-strong-large {
      @include text-strong-large;
    }

    .text-card {
      @include text-card;
    }

    .text-card-title {
      @include text-card-title;
    }

    .text-list-small {
      @include text-list-small;
    }

    .text-step-number {
      @include text-step-number;
    }

    .text-step-number-small {
      @include text-step-number-small;
    }

    .text-transform-uppercase {
      @include text-upper;
    }

    .text-transform-lowercase {
      text-transform: lowercase;
    }

    .text-transform-none {
      text-transform: none;
    }

    .text-underline {
      text-decoration: underline;
    }

    .font-weight-medium {
      font-weight: $font-weight-medium;
    }

    .text-cta-small {
      @include text-cta-small;
    }
  }
}
